*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    
}
body{
    background-color: black;
}

#minicircle{
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    height: auto;
    background-color: black;
}

#hero{
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh
    ;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color:#fff;
}
#heading{
    margin-top: 30px;
}

#heading h1{
    margin-left: 30px;
    opacity: .6;
    font-size: large;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
}

#heading #secondh1{
    margin-left: 180px;
}
 .blocktext h5 {
    text-align: right;
    text-transform: uppercase;
    font-size: 17px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
    
}


#smheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #fff;
    margin-top: 90px;
    padding-right: 50px;
    
    
}

#smheading h5{
    text-align: right;
    margin-top: 10px;
    text-transform: uppercase;
     font-size: 1vw;
}

#herofooter{
    margin-top: 50px;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 5%;
    width: 100%;
}

#herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}


#second{
    padding-right: 10vw;
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    padding-top: 200px;
}

.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
    /* opacity: .9; */
    
    
}
.elem h1{
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
    font-weight: 500;
}
.elemlast{
    border-bottom:1px solid #888;
    opacity: .7;
}

.elem img{
    /* display: none; */
    opacity: 0;
    height: 140%;
    z-index: 999;
    position: absolute;
    /* opacity: 0; */
    /* pointer-events: none; */
    /* height: 140%; */
    /* z-index: 999; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
}

#about{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 50px;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    color: #fff;
    
     
    
}

/* #imageabout{ */
    /* width: 2vw; */
    /* height: 2vw; */
    /* border-radius: 50%; */
/* } */
#about img{
    width: 15vw;
    height: 10%;
}

#textabout{
    width: 25rem;
    
}

#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#about p{
    line-height: 1.4;
    margin-bottom: 30px;
}

#textabout a{
    padding: 12px 22px;
    border-radius: 100px;
    color: #fff;
    border: 1px solid #fff;
    font-size: 12px;
    text-decoration: none;

}

#subscribe{
    color: #fff;
    padding: 20px 30px;
    background-color: black;
    padding: 3vw;

}

#subscribe h5{
    text-transform: uppercase;
    opacity: .6;
    color: #fff;
}

#subscribe a{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 40px 30px;
}

#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 30px;
}

#footerright a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    
    color: #fff;
    text-decoration: none;
}